*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

@media (min-width:1900px) {
    html {
        font-size: 11px;
    }
}

body {
    margin: 0;
    min-width: 32rem;
    font-size: 1.6rem;
    font-family: 'Nunito Sans', sans-serif;
}